.container {
  background-color: rgb(36, 36, 37);
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
  border: 1px solid #444;
  border-bottom: none;
  border-top: none;
}

.typeOption {
  text-decoration: none;
  color: white;
  padding: 4px 12px;
  border-radius: 15px;
}

.typeOption:hover {
  background-color: #777;
}

.selected {
  background-color: #555;
}

@media only screen and (max-width: 580px) {
  .typeOptions {
    gap: 14px;
  }

  .typeOption {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .typeOptions {
    gap: 12px;
  }

  .typeOption {
    font-size: 12px;
    padding: 3px 8px;
  }
}
