.container {
  background-color: rgb(36, 36, 37);
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #444;
  border-bottom: none;
  margin-top: 10px;
}

.sortingOptions {
  display: flex;
  gap: 25px;
}

.sortingOption {
  text-decoration: none;
  color: white;
  padding: 4px 12px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.sortingOption:hover {
  background-color: #777;
}

.selected {
  background-color: #555;
}

@media only screen and (max-width: 580px) {
  .sortingOptions {
    gap: 14px;
  }

  .sortingOption {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .sortingOptions {
    gap: 12px;
  }

  .sortingOption {
    font-size: 12px;
    padding: 3px 8px;
  }
}
